  .blink{ 
        font-size: 46px; 
        color:#4cc134; 
        margin: 10px;
        animation: changeshadow 1s  ease-in  infinite ;
         -webkit-animation: changeshadow 1s linear infinite;
        -moz-animation: changeshadow 1s linear infinite;
        -ms-animation: changeshadow 1s linear infinite;
        -o-animation: changeshadow 1s linear infinite;
    }  
    @keyframes changeshadow {  
        0%{ text-shadow: 0 0 4px #4cc134}  
        50%{ text-shadow: 0 0 40px #4cc134}  
        100%{ text-shadow: 0 0 4px #4cc134}  
    }

    @-webkit-keyframes changeshadow {
      0%{ text-shadow: 0 0 4px #4cc134}  
          50%{ text-shadow: 0 0 40px #4cc134}  
          100%{ text-shadow: 0 0 4px #4cc134}  
    }
    @-moz-keyframes changeshadow {
        0%{ text-shadow: 0 0 4px #4cc134}  
            50%{ text-shadow: 0 0 40px #4cc134}  
            100%{ text-shadow: 0 0 4px #4cc134}  
    }
    @-ms-keyframes changeshadow {
        0%{ text-shadow: 0 0 4px #4cc134}  
            50%{ text-shadow: 0 0 40px #4cc134}  
            100%{ text-shadow: 0 0 4px #4cc134}  
    }
    @-o-keyframes changeshadow {
        0%{ text-shadow: 0 0 4px #4cc134}  
            50%{ text-shadow: 0 0 40px #4cc134}  
            100%{ text-shadow: 0 0 4px #4cc134}  
    }